$primary-color: #ffcb00;
$secondary-color: #ff8b00;
$button-bg-color: #fff6;
$accent-color: #daff00;
$background-color: #f5f5f5;
$text-color: #3e3e3e;
$border-color: #e0e0e0;
$background-color-secondary: #3e3e3e;
$highlight-color: #ff5733;