@use '../../style/variables.scss' as *;

/* ========================================
   SearchPage.tsx DESIGN
   ======================================== */
.search-page-container {
    margin: 20px 40px 0;
}

/* ========================================
   SearchFilter.tsx DESIGN
   ======================================== */
.search-filter-container {
    overflow-y: auto;
    height: calc(100vh - 330px);
    top: 50px;
    padding: 16px;
    position: sticky;
}